  .nav-blue {
    /* background-color: #343a40!important */
    background-color:  rgba(54, 96, 145, 1);
  }
  
  a.nav-blue:focus,
  a.nav-blue:hover,
  button.nav-blue:focus,
  button.nav-blue:hover {
    background-color: #1d2124!important
  }