<section id="content">
    <div class="container-md">
        <div class="row">
            <div class="col">
                <div class="process">
                    <div class="step validated">
                        <div class="number">
                            <p> <i class="fas fa-check"></i></p>
                        </div>
                        <div class="name">
                            <p>Saisie adhésion</p>
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="step current">
                        <div class="number">
                            <p>2</p>
                        </div>
                        <div class="name">
                            <p>Saisie contrat de retraite</p>
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="step">
                        <div class="number">
                            <p>3</p>
                        </div>
                        <div class="name">
                            <p>Signature de convention eSign</p>
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="step">
                        <div class="number">
                            <p>4</p>
                        </div>
                        <div class="name">
                            <p>eSign des docs contractutels</p>
                        </div>
                    </div>
                </div>
                <div class="row process-mobile">
                    <div class="col">
                        <p class="validated"><i class="fas fa-check"></i> Saisie adhésion</p>
                        <p class="current">Saisie contrat de retraite</p>
                        <p class="">Signature de convention eSign</p>
                        <p class="">eSign des docs contractutels</p>
                        <div class="progress">
                            <div class="progress-bar " role="progressbar" style="width: 25%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 p-3">
                <p>La CIMR propose de nombreux produits répondant aux différents besoins des entreprises et de leurs
                    salariés. Différentes options, taux et modalités de paiement sont également proposés en fonction des
                    revenus et de l'objectifs de chaque entreprise. </p>
            </div>
            <div class="col-12 product-row">
                <fieldset>
                    <legend class="p-2">Choisir un produit</legend>
                    <div class="fieldset-content">
                        <div class="row p-2 mt-3">
                            <div class="col-12 col-md-4 product-choices">
                                <table>
                                    <tr *ngFor='let item of listProduits;let i = index'>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="produitRadio"
                                                (change)="radioChecked(item.id,item.libelle,i)"
                                                [checked]="produitId == item.id">
                                            <label class="form-check-label">
                                                {{item.libelle}}
                                            </label>
                                        </div>
                                    </tr>
                                </table>

                            </div>
                            <div class="col-12 col-md-8 product-desc">
                                <p>La CIMR propose de nombreux produits répondant aux différents besoins des entreprises
                                    et de leurs salariés. Différentes options, taux et modalités de paiement sont
                                    également proposés en fonction des revenus et de l‘objectifs de chaque entreprise.
                                </p>

                                <div *ngIf="indexSelected != -1" class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                Garanties {{produitLibelle}}
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show"
                                            aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>Vous bénéficiez de la déductibilité fiscale de vos contributions
                                                        au titre de l’IS pour l’employeur et de l’IR pour le salarié
                                                    </li>
                                                    <li>Des points CIMR sont octroyés gratuitement en cas de maladie ou
                                                        d’invalidité.
                                                    </li>
                                                    <li>La pension de retraite CIMR est un revenu indispensable à toute
                                                        la famille. Au décès du retraité ou du salarié, la pension est
                                                        transférée à son conjoint ou aux orphelins.
                                                    </li>
                                                    <li>La pension de la CIMR est annuellement revalorisée pour vous
                                                        permettre de maintenir votre niveau de vie.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                aria-expanded="false" aria-controls="collapseTwo">
                                                Options {{produitLibelle}}
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse"
                                            aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>Moubakkir : Option de retraite de la CIMR, permettant aux
                                                        Affiliés qui en bénéficient, la Liquidation de leurs droits à
                                                        l'âge de 50 ans sans anticipation
                                                    </li>
                                                    <li>Mousabbak : Option de retraite de la CIMR, permettant aux
                                                        Affiliés qui en bénéficient, la Liquidation de leurs droits à
                                                        l'âge de 55 ans sans anticipation
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="col-12">
                <fieldset>
                    <legend class="p-2"></legend>
                    <div class="fieldset-content">


                        <div class="row p-2 mt-3">
                            <div class="col-12 col-md-3">
                                <label for="inputPassword6" class="col-form-label">Date effet de
                                    souscription</label>
                                <input type="date" class="form-control" [(ngModel)]="dateEffetSouscription"
                                    placeholder="" aria-label="">
                            </div>
                            <div class="col-12 col-md-3">
                                <label for="inputPassword6" class="col-form-label">Effectif</label>
                                <input type="number" class="form-control" [(ngModel)]="effectif" placeholder="" aria-label="" style="width: 140px">
                            </div>
                        </div>

                        <div class="row p-2 mt-3">
                            <div class="col-12">
                                <p>En optant pour CIMR {{produitLibelle}}, l'employeur et ses salariés choisissent
                                    ensemble, parmi les 14 taux de contributions proposés, celui qui leur convient le
                                    mieux. </p>

                                <div class="table-responsive">
                                    <table class="table table-bordered" style="max-width: 700px;">
                                        <tbody>
                                            <tr>
                                                <th colspan="15" style="text-align: center;">
                                                    Pourcentage du salaire versé en contribution (%)
                                                </th>
                                            </tr>
                                            <tr>
                                                <th width="67" style="min-width: 200px;">Contribution salariale</th>
                                                <td width="41">3,00</td>
                                                <td width="41">3,75</td>
                                                <td width="41">4,50</td>
                                                <td width="38">5,25</td>
                                                <td width="41">6,00</td>
                                                <td width="41">7,00</td>
                                                <td width="41">7,50</td>
                                                <td width="41">8,00</td>
                                                <td width="41">8,50</td>
                                                <td width="41">9,00</td>
                                                <td width="41">9,50</td>
                                                <td width="41">10,00</td>
                                                <td width="41">11,00</td>
                                                <td width="41">12,00</td>
                                            </tr>
                                            <tr>
                                                <th width="67" style="min-width: 200px;">Contribution patronale</th>
                                                <td width="41">3,90</td>
                                                <td width="41">4,88</td>
                                                <td width="41">5,85</td>
                                                <td width="38">6,83</td>
                                                <td width="41">7,80</td>
                                                <td width="41">9,10</td>
                                                <td width="41">9,75</td>
                                                <td width="41">10,40</td>
                                                <td width="41">11,05</td>
                                                <td width="41">11,70</td>
                                                <td width="41">12,35</td>
                                                <td width="41">13,00</td>
                                                <td width="41">14,30</td>
                                                <td width="41">15,60</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <p>Le taux que vous aurez choisi s’applique sur la totalité du salaire, sans qu’aucun
                                    plafond de cotisation ne soit fixé, pour vous permettre de rapprocher le niveau de
                                    votre future pension de celui de votre revenu en activité.</p>
                                <p>Le montant de vos contributions (salaire x taux choisi) est chaque année converti en
                                    points CIMR.</p>
                                <p>Au moment de partir en retraite, le nombre total de points acquis au cours de votre
                                    carrière vous donne le montant de la pension de retraite. Si vous le souhaitez, une
                                    partie de ces points peut vous être servie sous forme de capital.</p>
                            </div>

                        </div>




                    </div>
                </fieldset>
            </div>
            <div class="col-12">
                <fieldset>
                    <legend class="p-2">Délégataires</legend>
                    <div class="fieldset-content">
                        <p>Préciser la (ou les) délégataires désignés par l'entreprise pour assurer notamment l'affiliation des salariés, la déclaration des salaires et le paiement des cotisations.</p>
                        <table style="width: 100%;">
                            <tr>
                                <div class="row p-2 mt-3">
                                    <div class="col-6 col-md-2">
                                        <label for="inputPassword6" class="col-form-label">Nom</label>
                                    </div>
                                    <div class="col-6 col-md-2">
                                        <label for="inputPassword6" class="col-form-label">Prénom</label>
                                    </div>
                                    <div class="col-6 col-md-2">
                                        <label for="inputPassword6" class="col-form-label">CIN</label>
                                    </div>
                                    <div class="col-6 col-md-2">
                                        <label for="inputPassword6" class="col-form-label">Fonction</label>
                                    </div>
                                    <div class="col-12 col-md-2">
                                        <label for="inputPassword6" class="col-form-label">Catégorie
                                            d'habilitation</label>
                                    </div>
                                    <div class="col-2">

                                    </div>
                                </div>
                            </tr>
                            <tr *ngFor="let delegataire of delegataires; index as i">
                                <div class="row p-2 mt-3">
                                    <div class="col-6 col-md-2">
                                        <input type="text" class="form-control" [(ngModel)]="delegataires.at(i).nom"
                                            placeholder="" aria-label="">
                                    </div>
                                    <div class="col-6 col-md-2">
                                        <input type="text" class="form-control" [(ngModel)]="delegataires.at(i).prenom"
                                            placeholder="" aria-label="">
                                    </div>
                                    <div class="col-6 col-md-2">
                                        <input type="text" class="form-control" [(ngModel)]="delegataires.at(i).cin"
                                            placeholder="" aria-label="">
                                    </div>
                                    <div class="col-6 col-md-2">
                                        <input type="text" class="form-control"
                                            [(ngModel)]="delegataires.at(i).fonction" placeholder="" aria-label="">
                                    </div>
                                    <div class="col-12 col-md-2">
                                        <select class="form-select"
                                            [(ngModel)]="delegataires.at(i).categorieHabilitationCode">
                                            <option *ngFor="let c of listCategoriesHabilitation" [value]="c.id">
                                                {{c.libelle}}</option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <button *ngIf="i == 0" class="btn btn-primary"
                                            (click)="addDelegataire()">+</button>
                                        <button *ngIf="i > 0" class="btn btn-danger" (click)="deleteDelagataire(i)">
                                            -
                                        </button>
                                    </div>
                                </div>

                            </tr>
                        </table>

                    </div>
                </fieldset>
            </div>

            <div class="col-12 product-row">
                <fieldset>
                    <legend class="p-2">Modes de paiement</legend>
                    <div class="fieldset-content">
                        <div class="row p-2 mt-3">
                            <div class="col-12 col-md-4 product-choices">
                                <table>
                                    <tr *ngFor='let item of listModesPaiement;let i = index'>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="modePaiementRadio"
                                                (change)='modePaiementChecked(item.id,i)'
                                                [checked]="modePaiementId == item.id">
                                            <label class="form-check-label">
                                                {{item.libelle}}
                                            </label>
                                        </div>
                                    </tr>
                                </table>

                            </div>
                            <div class="col-12 col-md-8 product-desc">
                                <h4 class="title">Télécharger le RIB depuis un fichier</h4>
                                <div class="row p-2 mt-3">
                                    <div class="col-12 col-md-6">
                                        <input type="file" class="form-control" placeholder="" aria-label=""
                                            (change)="uploadRIB($event)">
                                    </div>
                                </div>
                                <h4 class="title pt-3">Ou les saisir manuellement</h4>
                                <div class="row">
                                    <div class="row">
                                        <div class="col-12 col-md-4">
                                            <label for="inputPassword6" class="col-form-label">Titulaire</label>
                                            <input type="text" class="form-control" [(ngModel)]="titulaire"
                                                [(ngModel)]="titulaire" placeholder="" aria-label="">
                                        </div>
                                        <div class="col-12 col-md-7">
                                            <label for="inputPassword6" class="col-form-label">RIB</label>
                                            <input type="text" class="form-control" [(ngModel)]="rib" [(ngModel)]="rib"
                                                placeholder="" aria-label="">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row p-2 actions-area" style="justify-content: space-between;">
            <div class="col">
                <a [routerLink]="['/step1']" class="btn btn-light"><i class="fas fa-arrow-left"></i> Précédent </a>
                <a (click)="cancel()" class="btn btn-secondary"> Annuler <i class="fas fa-times"></i></a>
                <a (click)="step3()" class="btn btn-primary"> Poursuivre <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>