<section id="content">
    <div class="container-md">
        <div class="row">
            <div class="col">
                <div class="process">
                    <div class="step validated">
                        <div class="number">
                            <p> <i class="fas fa-check"></i></p>
                        </div>
                        <div class="name">
                            <p>Saisie adhésion</p>
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="step validated">
                        <div class="number">
                            <p><i class="fas fa-check"></i></p>
                        </div>
                        <div class="name">
                            <p>Saisie contrat de retraite</p>
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="step current">
                        <div class="number">
                            <p>3</p>
                        </div>
                        <div class="name">
                            <p>Signature de convention eSign</p>
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="step">
                        <div class="number">
                            <p>4</p>
                        </div>
                        <div class="name">
                            <p>eSign des docs contractutels</p>
                        </div>
                    </div>
                </div>
                <div class="row process-mobile">
                    <div class="col">

                        <p class="validated">Saisie adhésion</p>
                        <p class="validated">Saisie contrat de retraite</p>
                        <p class="current">Signature de convention eSign</p>
                        <p class="">eSign des docs contractutels</p>
                        <div class="progress">
                            <div class="progress-bar " role="progressbar" style="width: 50%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 p-3">
                <p>La CIMR propose de nombreux produits répondant aux différents besoins des entreprises et de leurs
                    salariés. Différentes options, taux et modalités de paiement sont également proposés en fonction des
                    revenus et de l‘objectifs de chaque entreprise. </p>
            </div>

            <div class="col-12 p-3 btn-download">
                <button (click)="printConvention()" class="btn btn-primary p-3 m-3">Télécharger votre convention <i
                        class="fas fa-arrow-down"></i></button>
            </div>
        </div>
    </div>
</section>