

// colors
$primaryColor: #77AD1A;
$secondaryColor: #F8B322;
$grayColor: rgb(199, 199, 199) ;
$grayPlayColor: rgb(106, 106, 106) ;

$bgHeaderFooter : #ededed;

$btn-p-color : #fff;
$btn-p-bgColor : #77AD1A;
$btn-p-borderColor : #77AD1A;
$btn-s-color : #fff;
$btn-s-bgColor : #F8B322;
$btn-s-borderColor : #F8B322;




// Global

.table
{
  font-size: 14px;
}
.table td
{
  vertical-align: middle;
  padding: 12px;
}

.table th
{
    font-size: 14px;
    color: $primaryColor;
    padding: 12px;
}
.table thead
{
  background-color: $grayColor;
  color: #5c5c5c;
}

#menu-toggle
{
    display: none;
}

.process-mobile
{
    display: none;
}
.btn-download
{
    text-align: center;
}
.title
{
    color: $primaryColor;
}

h4.title{
    font-size: 14px;
}
.add-line-btn
{
    padding-top: 38px;
}

.accordion-item
{
    border: none;

}
.accordion-item .accordion-button
{
    color: #77AD1A;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 20px;
    box-shadow: none !important;
}

.accordion-button:not(.collapsed)
{
    border: none;
    background-color: transparent;
}


ul {
    list-style: none;
  }

.product-desc ul li::before {
    content: "\2022";
    color: $primaryColor;
    font-weight: bold;
    font-size: 25px;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

.btn i
{
    margin: 0 10px;
}
.btn-primary
{
    color: $btn-p-color;
    background-color: $btn-p-bgColor;
    border-color: $btn-p-borderColor;
}

.btn-secondary
{
    color: $btn-s-color;
    background-color: $btn-s-bgColor;
    border-color: $btn-s-borderColor;
}
.btn-primary:hover,
.btn-primary:focus
{
    color: $btn-p-color;
}

.btn-secondary:hover,
.btn-secondary:focus
{
    color: $btn-s-color;

}

.process
{
    display: flex;
    justify-content: space-around;
    border-bottom: solid 1px $grayColor;
    padding-bottom: 20px;
}
.process .step
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative
}

.process .step .number
{
    margin-top: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid $grayColor;
    display: flex;
    align-items: center;
    justify-content: center;
}

.process .step.validated .number
{
    background-color: $primaryColor;
    border: 3px solid $primaryColor;

}

.process .step.validated .number p,
.process .step.validated .number p i
{
    color: #fff;
    font-size: 18px;

}

.process .step.current .number
{

    border: 3px solid $primaryColor;

}

.process .step .number p
{
    margin:0;
    font-weight: bold;
    color: $grayColor;
    font-size: 20px;

}
.process .step.current .number p
{
    color: $primaryColor;

}

.process .step .name p
{
   color: $grayColor;
   margin-top: 10px;
   font-weight: bold;

}

.process .step.current .name p,
.process .step.validated .name p
{
   color: $primaryColor;

}

.process .step i
{
    position: absolute;
    right: -80px;
    top: 40%;
    font-size: 30px;
    color: $grayColor;

}
.process .step .number i
{
    position: initial
}
.process .step.current i,
.process .step.validated i
{
    color: $primaryColor;
}

.process-mobile p.validated
{
    color: $primaryColor;
}

.process-mobile p.current
{
    color: $primaryColor;
    font-weight: bold;
}


fieldset
{
    padding: 15px 0
}
fieldset legend
{
    color: $primaryColor;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid $bgHeaderFooter;
}

.actions-area .col
{
    display: flex;
    justify-content: flex-end;
}
.actions-area .col .btn
{
    margin-left: 10px;
}

.product-row .product-desc
{
    border-left: 1px solid $grayColor
}



// header

#header
{
    background-color:  $bgHeaderFooter;
    max-height: 200px;
}
#header .navbar-nav li a
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left:1.5em;
}

#header .navbar-nav li a::after
{
    position: absolute;
    top: 60%;
    right: -10px;
}

#header #logo
{
    padding: 15px;
}

#header #logo img
{
    max-width: 100%;
}

#header #slogan h3
{

    font-size: 25px;
}

#header #slogan
{
    color: $secondaryColor;
    padding: 30px 10px;
}

#header #menu .navbar-expand-lg .navbar-collapse
{
    justify-content: flex-end;
}

#header #menu .cta-area
{
    justify-content: flex-end;
    align-items: center;
}

#header #menu .cta-area .header-cta
{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

// home
#content
{
    padding: 20px;
    background-color: rgb(255, 255, 255);
    min-height: 600px;

}

.home #content
{
    padding: 20px;
    background-color: rgb(255, 255, 255);
    background-image: url(../../images/pexels-fauxels-3184424.jpg);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#content .question
{
    border: solid 1px #bdbdbd;
    background-color: rgba(255, 255, 255, 0.474);
    margin: auto;
    padding: 15px;
    max-width: 800px;
    margin-top: 100px;
    border-radius: 5px;
    text-align: center;
}

#content .question h1
{
    text-align: center;
    font-size: 55px;
    color: white;
    word-spacing: 10px;
    font-weight: bold;
}

#content .question h4{
    text-align: center;
    color: rgb(56, 56, 56);
}

#content .question .question-answer .img-wrapper{
    width: 64px;
    border-radius: 50%;
    border: solid 1px $grayColor;
    padding: 10px;
    background-color: #fff;
    filter: grayscale(1);
    margin-right: 15px;
}

#content .question .question-answer img{
    width: 100%;
    filter: grayscale(1);
}

#content .question .question-answer h4{

    font-size: 18px;
    margin: 0;
}

#content .question .question-answer
{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    max-width: 300px;
    min-height: 100px;
    margin: auto;
    display:flex ;
    justify-content: center;
    align-items: center;
    border: solid 1px $grayColor;
    margin-top: 20px;
    cursor: pointer;
}

#content .question .question-answer.active .img-wrapper
{
    border: solid 1px $secondaryColor;
    filter: none;
}
#content .question .question-answer.active .img-wrapper img
{
    filter: none;

}

#content .question .question-answer.active
{
    border: solid 3px $primaryColor;
    background-image: url(../../images/checked.png);
    background-position: 5px 5px;
    background-size: 25px;
    background-repeat: no-repeat;
}


// Footer

#footer
{
    padding: 20px;
    background-color:  $bgHeaderFooter;
}
#footer .links .element p
{
    color: $secondaryColor;
    font-weight: bold;
    font-size: 13px;
}

#footer .links .element i
{
    color: $grayColor;
    font-weight: bold;
    font-size: 26px;
}

#footer .links ul{
    display: inline-flex;
    padding: 0;
}
#footer .links ul li{
    margin-right: 10px;
}
#footer .links ul li a:hover i{
    color: $primaryColor;
}

#footer .links .element.info i{
    color: $primaryColor;
    font-size: 14px;
}

#footer .cgu-list
{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: $grayColor;
}

#footer .cgu-list li
{
    margin-right: 15px;
}


// tmp

#header #menu .cta-area .btn
{
    min-width: 120px;
}

#content .question
{
    min-height: 500px;

}
#content .question .btn
{
    padding: 20px 40px !important;
    margin: 50px 40px !important;
}


@media screen and (max-width: 600px) {
    // mobile friendly design

    .process
    {
        display: none;
    }
    #content {
        background-size: auto 100%;
    }
    #header #menu {
        display: none;
    }
    #header #logo img
    {
        max-width: 100%;
    }
    #header #slogan
    {
        color: $secondaryColor;
        padding: 10px 10px;
    }

    #menu-toggle
    {
        display: flex;
        justify-content: flex-end;
        padding: 15px;
        padding-right: 30px;
    }

    #content .question {
        min-height: initial;
        width: 100%;
    }
    #content .question h1
    {
        font-size: 30px;
    }


    #footer .cgu-list
    {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }


    .btn i
    {
        display: none;
    }

    .process-mobile
{
    display: initial;
}




}



// sidenav


.menu-mobile-header
{
    height: 200px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 0;
  }

  .overlay-content {
    position: relative;
    top: 0%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    transition: 0.3s;
    text-align: left;
    color: $grayPlayColor;
  }

  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }

  .menu-mobile-open-btn
  {
      color: $grayPlayColor;
  }

  .overlay .closebtn {
    position: absolute;
    top: 0px;
    right: 30px;
    font-size: 60px;

  }

  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

  }

  .login-box-wrapper {
    padding-top: 80px;
  }
  
  .login-box-wrapper .login-box {
    background-color: #fafafa;
    min-height: 400px;
    padding: 25px;
    border: solid 1px #77AD1A;
  }
  
  .login-box-wrapper .login-box .login-logo {
    text-align: center;
  }
  
  .login-box-wrapper .login-box .login-logo img {
    width: 150px;
  }
  
  .login-box-wrapper .login-box .login-form {
    max-width: 400px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .login-box-wrapper .login-box .login-image{
      max-width: 300px;
  }

  .login-label{
      font-weight: 500;
      color: #212529bf;
  }

  .login-label-title{
    font-weight: 500;
    text-align: center;
}
.connect {
    font-size: 1.7rem;
    color: black;
    line-height: 1.5;
    font-weight: 500;
  }

  .connect:hover {
    cursor: pointer;
  }

  .required-field{
      color: red;
      font-weight: 600;
      padding-left: 5px;
  }

  .required-field-info{
    color: red;
  }
