<section id="content">
    <div class="container-md">
        <div class="row">
            <div class="col">
                <div class="process desktop">
                    <div class="step validated">
                        <div class="number">
                            <p> <i class="fas fa-check"></i></p>
                        </div>
                        <div class="name">
                            <p>Saisie adhésion</p>
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="step validated">
                        <div class="number">
                            <p><i class="fas fa-check"></i></p>
                        </div>
                        <div class="name">
                            <p>Saisie contrat de retraite</p>
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="step current">
                        <div class="number">
                            <p>3</p>
                        </div>
                        <div class="name">
                            <p>Signature de convention eSign</p>
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="step">
                        <div class="number">
                            <p>4</p>
                        </div>
                        <div class="name">
                            <p>eSign des docs contractutels</p>
                        </div>
                    </div>
                </div>
                <div class="row process-mobile">
                    <div class="col">

                        <p class="validated">Saisie adhésion</p>
                        <p class="validated">Saisie contrat de retraite</p>
                        <p class="current">Signature de convention eSign</p>
                        <p class="">eSign des docs contractutels</p>
                        <div class="progress">
                            <div class="progress-bar " role="progressbar" style="width: 50%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <fieldset>
                    <legend class="p-2">RC</legend>
                    <div class="fieldset-content">



                        <div class="row p-2 mt-3">
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">N° RC</label>
                                <input type="text" class="form-control" [(ngModel)]="numRC" placeholder="" aria-label=""
                                    disabled>
                            </div>
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">Raison sociale</label>
                                <input type="text" class="form-control" [(ngModel)]="raisonSociale" placeholder=""
                                    aria-label="" disabled>
                            </div>
                        </div>

                        <div class="row p-2 mt-3">
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">Addresse</label>
                                <input type="text" class="form-control" [(ngModel)]="adresse" placeholder=""
                                    aria-label="" disabled>
                            </div>
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">Forme juridique</label>
                                <input type="text" class="form-control" [(ngModel)]="formeJuridique" placeholder=""
                                    aria-label="" disabled>
                            </div>
                        </div>

                    </div>
                </fieldset>
            </div>

            <div class="col-12 col-md-6">
                <fieldset>
                    <legend class="p-2">ICE</legend>
                    <div class="fieldset-content">
                        <div class="row p-2 mt-3">
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">N° ICE</label>
                                <input type="text" class="form-control" [(ngModel)]="ice" placeholder="" aria-label=""
                                    disabled>
                            </div>
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">N° IF</label>
                                <input type="text" class="form-control" [(ngModel)]="ifu" placeholder="" aria-label=""
                                    disabled>
                            </div>
                        </div>

                        <div class="row p-2 mt-3">
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">N° CNSS</label>
                                <input type="text" class="form-control" [(ngModel)]="cnss" placeholder="" aria-label=""
                                    disabled>
                            </div>
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">N° TAXE</label>
                                <input type="text" class="form-control" [(ngModel)]="numTaxe" placeholder=""
                                    aria-label="" disabled>
                            </div>
                        </div>

                    </div>
                </fieldset>
            </div>

            <div class="col-12 col-md-6">
                <fieldset>
                    <legend class="p-2">Informations mandataire</legend>
                    <div class="fieldset-content">
                        <div class="row p-2 mt-3">
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">Nom</label>
                                <input type="text" class="form-control" [(ngModel)]="nomMandataire" placeholder=""
                                    aria-label="" disabled>
                            </div>
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">Prénom</label>
                                <input type="text" class="form-control" [(ngModel)]="prenomMandataire" placeholder=""
                                    aria-label="" disabled>
                            </div>
                        </div>

                        <div class="row p-2 mt-3">
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">CIN</label>
                                <input type="text" class="form-control" [(ngModel)]="cinMandataire" placeholder=""
                                    aria-label="" disabled>
                            </div>
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">Fonction</label>
                                <input type="text" class="form-control" [(ngModel)]="fonctMandataire" placeholder=""
                                    aria-label="" disabled>
                            </div>
                        </div>
                        <div class="row p-2 mt-3">
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">Téléphone</label>
                                <input type="text" class="form-control" [(ngModel)]="telMandataire" placeholder=""
                                    aria-label="" disabled>
                            </div>

                        </div>

                    </div>
                </fieldset>
            </div>

            <div class="col-12 col-md-6">
                <fieldset>
                    <legend class="p-2">Gestionnaire du compte</legend>
                    <div class="fieldset-content">
                        <div class="row p-2 mt-3">
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">Nom</label>
                                <input type="text" class="form-control" [(ngModel)]="nomGestionnaire" placeholder=""
                                    aria-label="" disabled>
                            </div>
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">Prénom</label>
                                <input type="text" class="form-control" [(ngModel)]="prenomGestionnaire" placeholder=""
                                    aria-label="" disabled>
                            </div>
                        </div>

                        <div class="row p-2 mt-3">
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">Adresse mail</label>
                                <input type="text" class="form-control" [(ngModel)]="emailGestionnaire" placeholder=""
                                    aria-label="" disabled>
                            </div>
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">Fonction</label>
                                <input type="text" class="form-control" [(ngModel)]="fonctGestionnaire" placeholder=""
                                    aria-label="" disabled>
                            </div>
                        </div>
                        <div class="row p-2 mt-3">
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">Téléphone</label>
                                <input type="text" class="form-control" [(ngModel)]="telGestionnaire" placeholder=""
                                    aria-label="" disabled>
                            </div>

                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="col-12 col-md-6">
                <fieldset>
                    <legend class="p-2">Produit</legend>
                    <div class="fieldset-content">
                        <div class="col-12">
                            <p>Produit : <strong>{{produitLibelle}} </strong></p>
                        </div>
                        <div class="row p-2 mt-3">
                            <div class="col-12 col-md-6">
                                <label for="inputPassword6" class="col-form-label">Date effet de souscription</label>
                                <input type="date" class="form-control" [(ngModel)]="dateEffetSouscription" placeholder=""
                                    aria-label="" disabled>
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="inputPassword6" class="col-form-label">Effectif</label>
                                <input type="number" class="form-control" [(ngModel)]="effectif" placeholder=""
                                    aria-label="" disabled>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="col-12">
                <fieldset>
                    <legend class="p-2">Délégataires</legend>
                    <div class="fieldset-content">
                        <!-- <div class="row p-2 mt-3">
                            <div class="col-6 col-md-2">
                                <label for="inputPassword6" class="col-form-label">Nom</label>
                                <input type="text" class="form-control" placeholder="" aria-label="" disabled>
                            </div>
                            <div class="col-6 col-md-2">
                                <label for="inputPassword6" class="col-form-label">Prénom</label>
                                <input type="text" class="form-control" placeholder="" aria-label="" disabled>
                            </div>
                            <div class="col-6 col-md-2">
                                <label for="inputPassword6" class="col-form-label">CIN</label>
                                <input type="text" class="form-control" placeholder="" aria-label="" disabled>
                            </div>
                            <div class="col-6 col-md-2">
                                <label for="inputPassword6" class="col-form-label">Fonction</label>
                                <input type="text" class="form-control" placeholder="" aria-label="" disabled>
                            </div>
                            <div class="col-12 col-md-2">
                                <label for="inputPassword6" class="col-form-label">Catégorie d'habilitation</label>
                                <select class="form-select" aria-label="Default select example" disabled>
                                    <option selected>Choisir</option>
                                </select>
                            </div>

                        </div> -->

                        <table style="width: 100%;">
                            <tr>
                                <div class="row p-2 mt-3">
                                    <div class="col-6 col-md-2">
                                        <label for="inputPassword6" class="col-form-label">Nom</label>
                                    </div>
                                    <div class="col-6 col-md-2">
                                        <label for="inputPassword6" class="col-form-label">Prénom</label>
                                    </div>
                                    <div class="col-6 col-md-2">
                                        <label for="inputPassword6" class="col-form-label">CIN</label>
                                    </div>
                                    <div class="col-6 col-md-2">
                                        <label for="inputPassword6" class="col-form-label">Fonction</label>
                                    </div>
                                    <div class="col-12 col-md-2">
                                        <label for="inputPassword6" class="col-form-label">Catégorie
                                            d'habilitation</label>
                                    </div>
                                </div>
                            </tr>
                            <tr *ngFor="let delegataire of delegataires; index as i">
                                <div class="row p-2 mt-3">
                                    <div class="col-6 col-md-2">
                                        <input type="text" class="form-control"
                                            [(ngModel)]="delegataires.at(i).nom" placeholder="" aria-label="" disabled>
                                    </div>
                                    <div class="col-6 col-md-2">
                                        <input type="text" class="form-control"
                                            [(ngModel)]="delegataires.at(i).prenom" placeholder="" aria-label="" disabled>
                                    </div>
                                    <div class="col-6 col-md-2">
                                        <input type="text" class="form-control"
                                            [(ngModel)]="delegataires.at(i).cin" placeholder="" aria-label="" disabled>
                                    </div>
                                    <div class="col-6 col-md-2">
                                        <input type="text" class="form-control"
                                            [(ngModel)]="delegataires.at(i).fonction" placeholder=""
                                            aria-label="" disabled>
                                    </div>
                                    <div class="col-12 col-md-2">
                                        <select class="form-select"
                                            [(ngModel)]="delegataires.at(i).categorieHabilitationCode" disabled>
                                            <option *ngFor="let c of listCategoriesHabilitation" [value]="c.id">
                                                {{c.libelle}}</option>
                                        </select>
                                    </div>
                                </div>

                            </tr>

                        </table>

                    </div>
                </fieldset>
            </div>

            <div class="col-12 col-md-6">
                <fieldset>
                    <legend class="p-2">Mode de paiement</legend>
                    <div class="fieldset-content">
                        <div class="row p-2 mt-3">
                            <div class="col-12">
                                <p>Mode de paiement : <strong>{{modePaiementLibelle}} </strong></p>
                            </div>
                            <div class="col-12 col-md-4">
                                <label for="inputPassword6" class="col-form-label">Titulaire</label>
                                <input type="text" class="form-control" [(ngModel)]="titulaire" placeholder=""
                                    aria-label="" disabled>
                            </div>
                            <div class="col-12 col-md-8">
                                <label for="inputPassword6" class="col-form-label">RIB</label>
                                <input type="text" class="form-control" [(ngModel)]="rib" placeholder="" aria-label=""
                                    disabled>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

        </div>
        <div class="row p-2 actions-area" style="justify-content: space-between;">
            <div class="col">
                <a [routerLink]="['/step2']" class="btn btn-light"><i class="fas fa-arrow-left"></i> Précédent </a>
                <a (click)="cancel()" class="btn btn-secondary"> Annuler <i class="fas fa-times"></i></a>
                <a (click)="step4()" class="btn btn-primary"> Valider <i class="fas fa-check"></i></a>
            </div>
        </div>
    </div>
</section>