<section id="content">
    <div class="container-md">
        <div class="row">
            <div class="col">
                <div class="process">
                    <div class="step current">
                        <div class="number">
                            <p>1</p>
                        </div>
                        <div class="name">
                            <p>Saisie adhésion</p>
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="step">
                        <div class="number">
                            <p>2</p>
                        </div>
                        <div class="name">
                            <p>Saisie contrat de retraite</p>
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="step">
                        <div class="number">
                            <p>3</p>
                        </div>
                        <div class="name">
                            <p>Signature de convention eSign</p>
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="step">
                        <div class="number">
                            <p>4</p>
                        </div>
                        <div class="name">
                            <p>eSign des docs contractutels</p>
                        </div>
                    </div>
                </div>
                <div class="row process-mobile">
                    <div class="col">

                        <p class="current">Saisie adhésion</p>
                        <p class="">Saisie contrat de retraite</p>
                        <p class="">Signature de convention eSign</p>
                        <p class="">eSign des docs contractutels</p>
                        <div class="progress">
                            <div class="progress-bar " role="progressbar" style="width: 5%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 p-3">
                <p>La CIMR propose de nombreux produits répondant aux différents besoins des entreprises et de leurs
                    salariés. Différentes options, taux et modalités de paiement sont également proposés en fonction des
                    revenus et de l‘objectifs de chaque entreprise. </p>
            </div>
            <div class="col-12 col-md-6">
                <fieldset>
                    <legend class="p-2">RC</legend>
                    <div class="fieldset-content">

                        <div class="row p-2 mt-3">
                            <div class="col-12">
                                <label for="inputPassword6" class="col-form-label">Télécharger les informations depuis
                                    un fichier</label>
                                <input type="file" class="form-control" placeholder="" aria-label="" (change)="uploadRC($event)">
                            </div>
                        </div>

                        <div class="row p-2 mt-3">
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">N° RC</label>
                                <input type="text" class="form-control" placeholder="" aria-label="" [(ngModel)]="numRC">
                            </div>
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">Raison sociale</label>
                                <input type="text" class="form-control" placeholder="" aria-label="" [(ngModel)]="raisonSociale">
                            </div>
                        </div>

                        <div class="row p-2 mt-3">
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">Adresse</label>
                                <textarea class="form-control" placeholder="" aria-label="" [(ngModel)]="adresse" rows="5"></textarea>
                            </div>
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">Forme juridique</label>
                                <input type="text" class="form-control" placeholder="" aria-label="" [(ngModel)]="formeJuridique">
                            </div>
                        </div>

                    </div>
                </fieldset>
            </div>
            <div class="col-12 col-md-6">
                <fieldset>
                    <legend class="p-2">ICE</legend>
                    <div class="fieldset-content">

                        <div class="row p-2 mt-3">
                            <div class="col-12">
                                <label for="inputPassword6" class="col-form-label">Télécharger les informations depuis
                                    un fichier</label>
                                <input type="file" class="form-control" placeholder="" aria-label="" (change)="uploadICE($event)">
                            </div>
                        </div>

                        <div class="row p-2 mt-3">
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">N° ICE</label><span class="required-field">*</span>
                                <input type="text" class="form-control" placeholder="" aria-label="" [(ngModel)]="ice">
                                <div *ngIf="iceEmpty" class="required-field-info">champ obligatoire</div>
                            </div>
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">N° IF</label><span class="required-field">*</span>
                                <input type="text" class="form-control" placeholder="" aria-label="" [(ngModel)]="ifu">
                                <div *ngIf="ifuEmpty" class="required-field-info">champ obligatoire</div>
                            </div>
                        </div>

                        <div class="row p-2 mt-3">
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">N° CNSS</label>
                                <input type="text" class="form-control" placeholder="" aria-label="" [(ngModel)]="cnss">
                            </div>
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">N° TAXE</label>
                                <input type="text" class="form-control" placeholder="" aria-label="" [(ngModel)]="numTaxe">
                            </div>
                        </div>

                    </div>
                </fieldset>
            </div>
            <div class="col-12 col-md-6">
                <fieldset>
                    <legend class="p-2">Informations mandataire</legend>
                    <div class="fieldset-content">



                        <div class="row p-2 mt-3">
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">Nom</label>
                                <input type="text" class="form-control" placeholder="" aria-label="" [(ngModel)]="nomMandataire">
                            </div>
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">Prénom</label>
                                <input type="text" class="form-control" placeholder="" aria-label="" [(ngModel)]="prenomMandataire">
                            </div>
                        </div>

                        <div class="row p-2 mt-3">
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">CIN</label><span class="required-field">*</span>
                                <input type="text" class="form-control" placeholder="" aria-label="" [(ngModel)]="cinMandataire">
                                <div *ngIf="cinEmpty" class="required-field-info">champ obligatoire</div>
                            </div>
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">Fonction</label>
                                <input type="text" class="form-control" placeholder="" aria-label="" [(ngModel)]="fonctMandataire">
                            </div>
                        </div>
                        <div class="row p-2 mt-3">
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">Téléphone</label>
                                <input type="text" class="form-control" placeholder="" aria-label="" [(ngModel)]="telMandataire">
                            </div>

                        </div>

                    </div>
                </fieldset>
            </div>
            <div class="col-12 col-md-6">
                <fieldset>
                    <legend class="p-2">Gestionnaire du compte</legend>
                    <div class="fieldset-content">

                        <div class="row p-2 mt-3">
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">Nom</label>
                                <input type="text" class="form-control" placeholder="" aria-label="" [(ngModel)]="nomGestionnaire">
                            </div>
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">Prénom</label>
                                <input type="text" class="form-control" placeholder="" aria-label="" [(ngModel)]="prenomGestionnaire">
                            </div>
                        </div>

                        <div class="row p-2 mt-3">
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">Adresse mail</label><span class="required-field">*</span>
                                <input type="text" class="form-control" placeholder="" aria-label="" [(ngModel)]="emailGestionnaire">
                                <div *ngIf="emailEmpty" class="required-field-info">champ obligatoire</div>
                            </div>
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">Fonction</label>
                                <input type="text" class="form-control" placeholder="" aria-label="" [(ngModel)]="fonctGestionnaire">
                            </div>
                        </div>
                        <div class="row p-2 mt-3">
                            <div class="col-6">
                                <label for="inputPassword6" class="col-form-label">Téléphone</label>
                                <input type="text" class="form-control" placeholder="" aria-label="" [(ngModel)]="telGestionnaire">
                            </div>

                        </div>
                    </div>
                </fieldset>
            </div>

        </div>
        <div class="row p-2 actions-area" style="justify-content: space-between;">
            <div class="col">
                <a [routerLink]="['/home']" class="btn btn-light"><i class="fas fa-arrow-left"></i> Précédent </a>
                <a (click)="cancel()" class="btn btn-secondary"> Annuler <i class="fas fa-times"></i></a>
                <a (click)="step2()" class="btn btn-primary"> Poursuivre <i class="fas fa-check"></i></a>
            </div>
        </div>
    </div>
</section>